:root {
  font: 16px / 1 sans-serif;
  height: 100%;
  margin: 0rem;
  padding: 0rem;
  min-width: 100vw;
  border: 0rem;
}

#root {
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
}
html {
  margin: 0rem;
  padding: 0rem;
  height: 100%;
  min-width: 100vw;
  border: 0rem;
}

body {
  margin: 0rem;
  padding: 0rem;
  min-height: 100%;
  min-width: 100vw;
  border: 0rem;
}

//--------------------------------------//

a.linkForHeader {
  margin: 0rem;
  padding: 0rem;
  min-width: 100vw;
  height: fit-content;
  width: fit-content;
  text-decoration: none;
  border: 0rem;
  h1.header {
    border: 0rem;
    background-image: url('./images/plaid-77426_1920.jpg');
    background-size: contain;
    font-family: 'Racing Sans One', cursive;
    display: flex;
    font-weight: 100;
    font-size: 3.25rem;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    margin: 0rem;
    padding: 0.375rem 0rem 1rem 0rem;
    background-color: black;
    color: white;
  }
}

main.main {
  border: 0rem;

  margin: 0rem;
  padding: 0rem;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  background-image: url('./images/plaid-77426_1920.jpg');
  background-size: contain;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  div.containerDashQuery {
    padding: 0.375rem 0rem;
    position: sticky;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-top: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 4px 3px 2px rgb(0, 0, 0, 0.9);
    top: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(219, 10, 13);
    color: white;
    margin: 0rem;
    width: 100vw;
    button.collapseMenu {
      background-color: black;
      color: white;
      margin: 0rem 2rem 0rem 0rem;
      border-radius: 0.375rem;
    }
    button.collapsedMenu {
      margin: 0rem 1rem;
      background-color: black;
      color: white;
      border-radius: 0.5rem;
    }
    div.dashQuery {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      // background-color: rgb(219, 10, 13);
      color: white;
      font-size: 0%;
      margin: 0rem;
      padding: 0rem;
      align-items: center;

      div.buttonContainer2 {
        padding: 0rem;
        width: fit-content;
        margin: 0.25rem 0.625rem;

        button {
          width: fit-content;
          padding: 0.25rem;
          font-size: 0.75rem;
          border-radius: 0.5rem;
          margin: 0rem 0.125rem 0rem 0rem;
          background-color: black;
          color: white;
        }
      }

      form.dashQuery {
        margin: 0rem;
        padding: 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        input.dashQuery {
          margin: 0rem 1rem;
          padding: 0.125rem;
          border: 2px solid black;
          border-radius: 0.375rem;
        }
        input.search {
          width: fit-content;
          padding: 0.25rem;
          font-size: 0.75rem;
          border-radius: 0.5rem;
          margin: 0rem 0.125rem 0rem 0rem;
          background-color: black;
          color: white;
        }
      }
    }
  }

  div.displayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin: 1.5rem 0rem;
    // overflow: scroll;
    padding: 0rem;
    div.display {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: 99.125vw;
      // margin: 1rem;
      div.panelContainer {
        box-shadow: 0px 0px 3.75px 2.125px rgb(247, 247, 247);
        // background-image: url('./images/plaid-77426_1920.jpg');
        // background-size: contain;
        resize: both;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // min-height: fit-content;
        // max-height: min-content;
        height: 60vh;
        max-height: fit-content;
        width: 30vw;
        // width: 44vw; --> make this dynamic so panels snap into place nicely at different widths
        max-width: 92vw;
        min-width: min-content;
        padding: 0rem 0.5rem 0.5rem 0.5rem;
        margin: 0.75rem 0.5rem 0.75rem 0.25rem;
        border: 2px solid white;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
      }
      button.header {
        border: 0px;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: 100%;
        font-size: 1.0625rem;
        text-align: center;
        padding: 0.25rem 0.5rem;
        // flex-wrap: wrap;
        // width: max-content;
        min-width: min-content;
        margin: 0rem;
        background-color: black;
        color: white;
      }
      div.panel {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: fit-content;
        width: 97%;
        background-color: black;
        min-width: fit-content;
        // background-color: white;
        border-radius: 0.5rem;
        div.link {
          border: 1px solid black;
          box-shadow: 0px 0px 1px 1px rgb(174, 174, 174);
          border-radius: 0.25rem;
          background-color: rgb(231, 231, 231);
          padding: 0.25rem;
          margin: 0.25rem;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: min-content;

          max-width: fit-content;
          button {
            // height: 0.75rem;
            margin: 0rem;
            margin-left: 0.125rem;
            font-size: 0.5rem;
            width: fit-content;
          }
          button.viewLink {
            display: flex;
            justify-content: center;
            align-items: center;
            width: min-content;
            height: max-content;
            margin: 0.2rem;
            padding: 0.25rem;
            background-color: rgb(2, 0, 63);
            border-radius: 0.5rem;
            border: 0rem;
            color: white;
          }
          button.viewLink:hover {
            background-color: rgb(0, 61, 0);
            cursor: pointer;
          }
          button.viewDescription {
            margin: 0.125rem;
            height: auto;
            padding: 0rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          button.title {
            margin: 0.2rem 0.125rem 0.5rem 0.125rem;
            min-width: min-content;
            font-weight: 600;
            text-align: start;
            font-size: 0.625rem;
            text-decoration: underline;

            background-color: transparent;
            border: transparent;
            padding: 0.125rem;
          }
          button.title:hover {
            color: rgb(43, 43, 43);
            text-decoration: none;
            cursor: pointer;
          }
          div.content {
            display: flex;
            flex-direction: column;
            p.summary {
              margin: 0.25rem;
              min-width: min-content;
              text-align: start;
              font-size: 0.5rem;
            }
            // a {
            color: black;
            margin: 0rem;
            padding: 0rem;
            text-decoration: none;
            width: fit-content;
            button.url {
              margin: 0.2rem 0.125rem 0.5rem 0.125rem;
              background-color: transparent;
              border: transparent;
              padding: 0.125rem;
              min-width: min-content;
              text-align: start;
              text-decoration: underline;
              color: blue;
              font-size: 0.5rem;
            }
            button.url:hover {
              cursor: pointer;
              color: purple;
            }
            // }
          }
        }
      }
    }
  }
}

//--------------------------------------//

footer.standardFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0rem;
  margin: 0rem;
  width: 100vw;
  background-color: white;
  color: black;
  border-top: 4px solid black;
  box-shadow: 0px 0px 5px 5px black;
  a.navLink {
    margin: 0rem;
    padding: 0rem;
    color: black;
    text-align: center;
    text-decoration: none;
  }
}

//---------LANDING PAGE-----------//

h2.LandingPageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 2.5rem;
  width: 100vw;
  margin: 0rem;
  padding: 0.5rem 0rem;
  background-color: black;
  color: white;
}

main.landingPageContainer {
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0rem;
  padding: 0rem;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div.listOfDashes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: min-content;
  height: min-content;
  margin: 1rem;
  padding: 0rem;
  border: 2px solid black;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  h3.HeaderDashList {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 45vw;
    min-width: max-content;
    padding: 0.5rem;
    background-color: rgb(13, 10, 97);
    color: white;
    padding: 0.25rem;
    margin: 0rem;
    border-bottom: 1px solid black;
    border-top-left-radius: 0.85rem;
    border-top-right-radius: 0.85rem;
  }
  ul.DisplayListDash {
    list-style: circle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem;
    margin: 0rem 0.25rem 0.75rem 0.25rem;
  }
}

.landingPageFooter {
  display: flex;
  justify-content: space-evenly;
  height: 2rem;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0rem 0rem 0rem;
  border-top: 4px solid black;
  background-color: white;
  color: black;
  a.navLink {
    margin: 0rem;
    padding: 0rem;
    color: black;
    text-align: center;
    text-decoration: none;
  }
}

//---------About Page-----------//

main.aboutPage {
  // padding: 1rem;
  // padding: 1rem;
  margin: 0rem;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;

  article.aboutPageArticle {
    margin: 2rem;
    padding: 0rem;
    width: min-content;
    height: min-content;
    // max-width: 50rem;
    // max-height: fit-content;
    // text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 0.5rem;
    background-color: rgb(165, 165, 165);

    h5.header {
      text-align: center;
      background-color: blue;
      color: white;
      margin: 0rem;
      padding: 1rem 0rem;
      width: 100%;
      border-top-right-radius: 0.355rem;
      border-top-left-radius: 0.355rem;
    }
    ul.savedLinkList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0rem;
      margin: 0.75rem 0rem;
      width: 100%;
      height: min-content;
      background-color: rgb(165, 165, 165);
      button.savedLinkList {
        // justify-self: center;
        color: white;
        background-color: black;
        border: 2px solid white;
        border-radius: 0.25rem;
        padding: 0.25rem;
      }
      button.savedLinkList:hover {
        background-color: rgba(6, 0, 85, 0.878);
      }
      li.savedLinkList {
        background-color: white;
        // text-decoration: underline;
        list-style: none;
        min-width: min-content;
        max-width: 90%;
        height: min-content;
        display: flex;
        margin: 0.75rem 0.5rem 0.125rem 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.75rem;
        // flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border: 2px solid black;
        p.savedLinkListLabel {
          text-decoration: underline;
          margin: 0.5rem;
          border: 1px solid black;
          background-color: rgb(223, 223, 223);
          box-shadow: 0px 0px 1px 1px rgba(167, 167, 167, 0.7);
          padding: 0.25rem;
          border-radius: 0.25rem;
        }
        p.savedLinkList {
          text-decoration: none;
          margin: 0.25rem 0.5rem 0.75rem 1rem;
          // padding: 0.25rem;
        }
        a.savedLinkList {
          // text-decoration: none;
          margin: 0.25rem 0.5rem 0.75rem 1rem;
        }
      }
    }
  }
}

// ------------------CREATE ACCOUNT PAGE---------------- //
main.mainCreateAccount {
  margin: 2rem 0rem;
  padding: 0rem;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  div.panelListContainer {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.25rem;
      margin: 0rem;

      button.visible {
        padding: 0.25rem;
      }
      button.notVisible {
        display: none;
      }
    }
  }
  div.containerForHeaderAndForm {
    margin: 1rem 0rem;
    padding: 0rem;
    border-radius: 0.5rem;
    min-height: min-content;
    border: 2px solid black;
    h5.header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      background-color: blue;
      width: 100%;
      color: white;
      margin: 0%;
      min-width: min-content;
      min-height: min-content;
      padding: 0.5rem 0rem;
      border-top-right-radius: 0.355rem;
      border-top-left-radius: 0.355rem;
    }
    div.formContainerCreateAccount {
      display: flex;
      resize: vertical;
      flex-wrap: wrap;
      min-width: min-content;
      width: 50vw;
      height: fit-content;
      overflow: scroll;
      min-height: min-content;
      margin: 0rem;
      padding: 0rem;
      align-items: flex-start;
      justify-content: center;
      form.formCreateAccount {
        display: flex;
        flex-wrap: wrap;
        padding: 0.5rem;
        margin: 0.125rem 0.5rem;
        width: fit-content;
        min-width: min-content;
        min-height: min-content;
        align-items: center;
        justify-content: center;
        div.inputContainer {
          margin: 0.25rem;
          padding: 0.5rem;
          border: 2px solid black;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;
          align-items: center;
          background-color: blue;
          border-radius: 0.5rem;
          color: white;
          width: 80%;
          min-height: min-content;
          label.createAccount {
            padding: 5rem;
            margin: 0.25rem;
            min-width: fit-content;
            min-height: fit-content;
          }
          input.createAccount {
            margin: 0.5rem;
            width: 10vw;
            min-width: min-content;
            min-height: min-content;
          }
        }
      }
    }
  }
}
footer.createAccountPageFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.25rem;
  margin: 0rem;
  background-color: white;
  color: black;
  a.standardFooter {
    margin: 0.5rem;
    color: black;
    text-align: center;
  }
}

button.accountInfoSubmit {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem;
  height: 2rem;
  border-radius: 0%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

button.accountInfoSubmit:hover {
  transform: scale(1.15, 1.15);
}

// --------------------------------------------

@media all and (max-width: 562px) {
  div.containerDashQuery {
    padding: 0.375rem 0rem;
    position: sticky;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
    top: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: min-content;
    align-items: center;
    color: white;
    margin: 0rem;
    width: 100vw;
    // align-items: space-between;
    button.collapsedMenu {
      margin: 0rem 1rem;
      background-color: black;
      color: white;
      border-radius: 0.5rem;
    }
    button.collapseMenu {
      background-color: black;
      color: white;
      margin: 0rem;
      border-radius: 0.375rem;
      position: sticky;
      left: 48%;
    }
    div.dashQuery {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin: 0rem;
      padding: 0rem;
      width: 100%;
      align-items: center;
      div.buttonContainer2 {
        border-radius: 0.25rem;
        border: 2px solid black;
        background-color: white;
        padding: 0.5rem;
        margin: 0rem 0.625rem 0.25rem 0.625rem;
        button {
          width: fit-content;
          padding: 0.125rem;
          font-size: 0.5rem;
          border-radius: 0.5rem;
          margin: 0.25rem;
          background-color: black;
          color: white;
        }
      }
    }
  }
}
