:root {
  font: 17px / 1 sans-serif;
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
  margin: 0rem;
  padding: 0rem;
  min-width: 100vw;
  border: 0rem;
}

#root {
  margin: 0rem;
  padding: 0rem;
  border: 0rem;
}
html {
  margin: 0rem;
  padding: 0rem;
  height: 100%;
  min-width: 100vw;
  border: 0rem;
}

body {
  margin: 0rem;
  padding: 0rem;
  min-height: 100%;
  min-width: 100vw;

  border: 0rem;
  background-color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

//--------------------------------------//
header.altHeader {
  border: 0rem;
  font-family: 'Racing Sans One', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0rem;
  margin: 0rem;
  height: fit-content;
  width: fit-content;
  // background-image: url('./images/plaid-77426_1920.jpg');
  // background-size: contain;
  min-width: 100vw;
  text-decoration: none;
  border: 0rem;
  a.linkForHeader {
    text-decoration: none;
  }
  h1.header {
    border: 0rem;
    font-family: 'Racing Sans One', cursive;
    background-image: url('./images/plaid-77426_1920.jpg');
    background-size: contain;
    display: flex;
    font-weight: 100;
    font-size: 3.25rem;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    margin: 0rem;
    padding: 0.375rem 0rem 1rem 0rem;
    background-color: black;
    color: white;
  }
  h1.altHeader {
    font-weight: 100;
    background-image: url('./images/plaid-77426_1920.jpg');
    background-size: contain;
    font-size: 3.25rem;
    width: 100vw;
    height: fit-content;
    text-align: center;
    margin: 0rem;
    padding: 0rem;
    padding: 0.375rem 0rem 1rem 0rem;
    background-color: black;
    color: white;
  }
}

div.navBar2 {
  width: 100vw;
  height: fit-content;
  padding: 0.5rem;
  margin: 0rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 3px 2px rgba(0, 98, 3, 0.8);
  // background-color: rgb(2, 0, 63);
  background-color: rgba(0, 51, 2, 0.9);
  position: sticky;
  top: 0rem;
  form.filterDashes {
    // width: ;
    margin: 0rem 1rem 0rem 1rem;
    input {
      color: white;
      background-color: black;
      font-size: 1.05rem;
      border: 2px solid white;
      border-radius: 0.5rem;
    }
  }

  form.filterLinks {
    // width: ;
    margin: 0rem 3rem 0rem 0rem;
    input {
      color: white;
      background-color: black;
      font-size: 1.05rem;
      border: 2px solid white;
      border-radius: 0.5rem;
    }
  }
  a.navLink:hover {
    background-color: rgb(220, 220, 220);

    border: 2px solid rgb(0, 51, 2, 0.9);
  }
  span.navLink:hover {
    background-color: rgb(220, 220, 220);
    border: 2px solid rgb(0, 51, 2, 0.9);
  }
}

div.navBar {
  width: 100vw;
  height: fit-content;
  padding: 0.5rem;
  margin: 0rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 3px 2px rgba(193, 0, 3, 0.8);
  // background-color: rgb(2, 0, 63);
  background-color: rgb(121, 0, 20, 0.9);
  position: sticky;
  top: 0rem;
  form.filterDashes {
    // width: ;
    margin: 0rem 1rem 0rem 1rem;
    input {
      color: white;
      background-color: black;
      font-size: 1.05rem;
      border: 2px solid white;
      border-radius: 0.5rem;
    }
  }

  form.filterLinks {
    // width: ;
    margin: 0rem 1rem 0rem 1rem;
    input {
      color: white;
      background-color: black;
      font-size: 1.05rem;
      border: 2px solid white;
      border-radius: 0.5rem;
    }
  }
}

ul.navBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
}

a.navLink {
  margin: 0.5rem 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: black;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
}
a.navLink:hover {
  background-color: rgb(220, 220, 220);
  border: 2px solid rgb(136, 0, 2);
}

span.navLink {
  margin: 0rem 2.5rem 0rem 0rem;
  padding: 0.25rem 0.25rem;
  border-radius: 0.5rem;
  color: black;
  text-align: center;
  width: fit-content;
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid black;
  background-color: white;
  cursor: pointer;
  // position: sticky;
  // top: 0rem;
  // right: 3%;
}
span.navLink:hover {
  background-color: rgb(220, 220, 220);
  border: 2px solid rgb(136, 0, 2);
}

main.main {
  border: 0rem;

  margin: 0rem;
  padding: 0rem;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  background-image: url('./images/plaid-77426_1920.jpg');
  background-size: contain;

  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  div.containerDashQuery {
    padding: 0.375rem 0rem;
    position: sticky;
    // border-bottom: 2px solid rgb(0, 0, 0);
    // border-top: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 3px 2px rgb(121, 0, 2, 0.9);
    top: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(121, 0, 2, 0.9);
    color: white;
    margin: 0rem;
    width: 100vw;
    button.collapseMenu {
      background-color: black;
      color: white;
      margin: 0rem 2rem 0rem 0rem;
      border-radius: 0.375rem;
      border: 2px solid white;
      cursor: pointer;
    }
    button.collapsedMenu {
      margin: 0rem 1rem;
      background-color: black;
      color: white;
      border-radius: 0.5rem;
      border: 2px solid white;
      cursor: pointer;
    }
    button.collapsedMenu:hover {
      transform: scale(1.05, 1.05);
    }
    button.collapseMenu:hover {
      transform: scale(1.05, 1.05);
    }

    div.dashQuery {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;
      // background-color: rgb(219, 10, 13);
      color: white;
      font-size: 0%;
      margin: 0rem;
      padding: 0rem;
      align-items: center;

      div.buttonContainer2 {
        padding: 0rem;
        width: fit-content;
        margin: 0.25rem 2rem 0.125rem 1rem;

        button {
          margin: 0.5rem 0.25rem;
          padding: 0.25rem 0.5rem;
          border-radius: 0.5rem;
          color: black;
          text-align: center;
          font-size: 0.75rem;
          font-weight: 700;
          text-decoration: none;
          border: 2px solid black;
          background-color: white;
          cursor: pointer;
        }
        button:hover {
          background-color: rgb(220, 220, 220);
          border: 2px solid rgb(136, 0, 2);
        }
      }

      form.dashQuery {
        margin: 0rem;
        padding: 0.125rem 0rem 0rem 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        input.dashQuery {
          margin: 0rem 0.125rem 0rem 1rem;
          padding: 0.125rem;
          border: 2px solid white;
          border-radius: 0.375rem;
          background-color: black;
          color: white;
          font-weight: 700;
          cursor: pointer;
        }
        input.search {
          width: fit-content;
          padding: 0.19rem 0.25rem;
          font-size: 0.75rem;
          border-radius: 0.5rem;
          margin: 0rem 0rem 0rem 0.125rem;
          background-color: white;
          color: black;
          border: 2px solid black;
          font-weight: 700;
          cursor: pointer;
        }
        input.search:hover {
          transform: scale(1.05, 1.05);
        }
      }
    }
  }

  div.displayContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin: 1.5rem 0rem;
    // overflow: scroll;
    padding: 0rem;
    div.display {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: flex-start;
      width: 99.125vw;
      // margin: 1rem;
      div.panelContainer {
        box-shadow: 0px 0px 3.75px 2.125px rgb(255, 255, 255);
        // background-image: url('./images/plaid-77426_1920.jpg');
        // background-size: contain;
        resize: both;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // min-height: fit-content;
        // max-height: min-content;
        height: 40vh;
        max-height: fit-content;
        width: 30vw;
        // width: 44vw; --> make this dynamic so panels snap into place nicely at different widths
        max-width: 92vw;
        min-width: min-content;
        padding: 0rem 0.5rem 0.5rem 0.5rem;
        margin: 0.75rem 0.5rem 0.75rem 0.25rem;
        border: 2px solid white;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
      }
      button.header {
        border: 0px;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: fit-content;
        width: 100%;
        font-size: 1.0625rem;
        text-align: center;
        padding: 0.25rem 0.5rem;
        // flex-wrap: wrap;
        // width: max-content;
        min-width: min-content;
        margin: 0rem;
        background-color: black;
        color: white;
      }
      div.panel {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: fit-content;
        width: 97%;
        background-color: black;
        min-width: fit-content;
        // background-color: white;
        border-radius: 0.5rem;
        div.link {
          border: 2px solid black;
          box-shadow: 0px 0px 1px 1px rgb(174, 174, 174);
          border-radius: 0.25rem;
          background-color: rgb(231, 231, 231);
          padding: 0.25rem;
          margin: 0.25rem;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: min-content;

          max-width: fit-content;
          button {
            // height: 0.75rem;
            margin: 0rem;
            margin-left: 0.125rem;
            font-size: 0.5rem;
            width: fit-content;
          }
          button.viewLink {
            display: flex;
            justify-content: center;
            align-items: center;
            width: min-content;
            height: max-content;
            margin: 0.2rem;
            padding: 0.25rem;
            box-shadow: 0px 0px 2px 1px rgb(0, 51, 2, 0.9);
            // background-color: rgb(2, 0, 63);
            background-color: rgb(0, 51, 2, 0.9);
            border-radius: 0.5rem;
            border: 0rem;
            color: white;
            cursor: pointer;
          }
          button.viewLink:hover {
            background-color: rgb(0, 61, 0);
          }
          button.viewDescription {
            margin: 0.125rem;
            height: auto;
            padding: 0rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          button.title {
            margin: 0.2rem 0.125rem 0.5rem 0.125rem;
            min-width: min-content;
            font-weight: 700;
            text-align: start;
            font-size: 0.625rem;
            text-decoration: underline;

            background-color: transparent;
            border: transparent;
            padding: 0.125rem;
          }
          button.title:hover {
            color: rgb(43, 43, 43);
            text-decoration: none;
            cursor: pointer;
          }
          div.content {
            display: flex;
            flex-direction: column;
            p.summary {
              margin: 0.25rem;
              min-width: min-content;
              text-align: start;
              font-size: 0.5rem;
              color: black;
            }
            // a {
            color: black;
            margin: 0rem;
            padding: 0rem;
            text-decoration: none;
            width: fit-content;
            button.url {
              margin: 0.2rem 0.125rem 0.5rem 0.125rem;
              background-color: transparent;
              border: transparent;
              padding: 0.125rem;
              min-width: min-content;
              text-align: start;
              text-decoration: underline;
              color: blue;
              font-size: 0.5rem;
            }
            button.url:hover {
              cursor: pointer;
              color: purple;
            }
            // }
          }
        }
      }
    }
  }
}

//--------------------------------------//

footer.standardFooter2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0rem;
  margin: 0rem;
  width: 100vw;
  color: white;
  // border-top: 1px solid rgb(121, 0, 2, 0.9);
  box-shadow: 0px 0px 3px 2px rgb(0, 51, 2);
  // background-color: rgb(2, 0, 63);
  background-color: rgb(0, 51, 2);
  a.navLink {
    margin: 0rem 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: black;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
  }
  a.navLink:hover {
    border: 2px solid rgb(0, 51, 2, 0.9);
    background-color: rgb(220, 220, 220);
  }
}

footer.standardFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0rem;
  margin: 0rem;
  width: 100vw;
  color: white;
  // border-top: 1px solid rgb(121, 0, 2, 0.9);
  box-shadow: 0px 0px 3px 2px rgb(121, 0, 2);
  // background-color: rgb(2, 0, 63);
  background-color: rgb(121, 0, 2);
  a.navLink {
    margin: 0rem 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    color: black;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
    text-decoration: none;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
  }
  a.navLink:hover {
    background-color: rgb(220, 220, 220);
    border: 2px solid rgb(136, 0, 2);
  }
}

//---------LANDING PAGE-----------//

h2.LandingPageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 2.5rem;
  width: 100vw;
  margin: 0rem;
  padding: 0.5rem 0rem;
  background-color: black;
  color: white;
}

main.landingPageContainer {
  flex-wrap: wrap;
  flex-direction: row;
  // padding: 1rem;
  margin: 0rem;
  padding: 0rem 1rem 0rem 0rem;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(17, 17, 17);
}

main.createDashPage {
  margin: 0rem;
  padding: 1rem 0rem 3rem 0rem;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  // align-items: center;
  // justify-content: flex-start;
  // padding: 1rem;
  // padding: 1rem;
  // margin: 0rem;
  // min-height: 100vh;
  // min-width: 100vw;
  // display: flex;
  // padding: 2.5%;
  min-height: 100vh;
  // min-width: 95%;
  display: flex;
  background-color: rgb(17, 17, 17);

  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
p {
  color: white;
  font-weight: 700;
}
div.listOfDashes2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // width: max-content;
  height: fit-content;
  margin: 3rem 2rem;
  width: 55vw;
  // min-width: fit-content;
  padding: 0rem;
  // border: 2px solid white;
  box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);

  background-color: rgb(180, 180, 180);
  background-color: black;
  border-radius: 1rem;
  // border-top-left-radius: 1rem;
  h5.HeaderDashList2 {
    display: flex;
    // text-decoration: underline;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    // box-shadow: 0px 0px 5px 3px rgb(0, 51, 2, 0.9);
    // min-width: max-content;
    // padding: 0.5rem;
    // box-shadow: 0px 0px 3px 2px rgba(75, 0, 1, 0.9);
    // background-color: rgb(2, 0, 63);
    background-color: rgb(0, 51, 2, 0.9);
    color: white;
    padding: 0.75rem 0rem;
    margin: 0rem;
    font-size: 1.25rem;

    // border-bottom: 1px solid black;
    border-top-left-radius: 0.85rem;
    border-top-right-radius: 0.85rem;
  }
  h3.HeaderDashList2 {
    display: flex;
    // text-decoration: underline;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    font-size: 1.25rem;
    // box-shadow: 0px 0px 5px 3px rgb(0, 51, 2, 0.9);
    // min-width: max-content;
    // padding: 0.5rem;
    // box-shadow: 0px 0px 3px 2px rgba(75, 0, 1, 0.9);
    // background-color: rgb(2, 0, 63);
    background-color: rgb(0, 51, 2, 0.9);
    color: white;
    padding: 0.75rem 0rem;
    margin: 0rem;
    // border-bottom: 1px solid black;
    border-top-left-radius: 0.85rem;
    border-top-right-radius: 0.85rem;
  }
  p {
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 2px 1px white;
    color: black;
    background-color: white;
  }
}
div.listOfDashes3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  // width: max-content;
  height: fit-content;
  margin: 2rem;
  width: 45vw;
  // min-width: fit-content;
  padding: 0rem;
  // border: 2px solid white;
  box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);
  resize: both;
  // background-color: rgb(180, 180, 180);
  // background-color: black;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  p {
    color: white;
    font-weight: 700;
    padding: 0.125rem;
    width: 30vw;
    margin: 1rem;
    text-align: center;
    border: 2px solid white;
    border-radius: 0.5rem;
    // box-shadow: 0px 4px 3px 2px black;
  }
  h5.HeaderDashList2 {
    display: flex;
    // text-decoration: underline;
    align-items: center;
    justify-content: center;
    height: fit-content;
    font-size: 1.25rem;

    width: 100%;
    // box-shadow: 0px 0px 5px 3px rgb(0, 51, 2, 0.9);
    // min-width: max-content;
    // padding: 0.5rem;
    // box-shadow: 0px 0px 3px 2px rgba(75, 0, 1, 0.9);
    // background-color: rgb(2, 0, 63);
    background-color: rgb(0, 51, 2, 0.9);
    color: white;
    padding: 0.75rem 0rem;
    margin: 0rem;
    // border-bottom: 1px solid black;
    border-top-left-radius: 0.85rem;
    border-top-right-radius: 0.85rem;
  }
  ul {
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem;
    overflow-y: scroll;
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0px 0px 3px 2px white;
    width: 100%;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0.125rem 0rem 0rem 0.25rem;
      cursor: pointer;
      background-color: black;
      color: white;
      border: 2px solid rgb(99, 99, 99);
      border-radius: 0.5rem;
      padding: 0.25rem;
      font-weight: 700;
      width: min-content;
    }
    button:hover {
      transform: scale(1.05, 1.05);
    }
  }
}
div.listOfDashes {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: min-content;
  margin: 3rem 0.5rem 2rem 0.5rem;
  padding: 0rem;
  // border: 2px solid white;
  box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);

  background-color: rgb(180, 180, 180);
  background-color: black;
  // border-top-right-radius: 1rem;
  // border-top-left-radius: 1rem;

  h3.HeaderDashList {
    display: flex;
    // text-decoration: underline;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    // box-shadow: 0px 0px 5px 3px rgb(121, 0, 2, 0.9);
    // min-width: max-content;
    // padding: 0.5rem;
    // box-shadow: 0px 0px 3px 2px rgba(75, 0, 1, 0.9);
    // background-color: rgb(2, 0, 63);
    background-color: rgb(121, 0, 2, 0.9);
    color: white;
    padding: 0.75rem 0rem;
    margin: 0rem;
    font-size: 1.125rem;
    // border-bottom: 1px solid black;
    // border-top-left-radius: 0.85rem;
    // border-top-right-radius: 0.85rem;
  }
  h5.HeaderDashList2 {
    display: flex;
    // text-decoration: underline;
    align-items: center;
    font-size: 1.25rem;

    justify-content: center;
    height: fit-content;
    width: 100%;
    // box-shadow: 0px 0px 5px 3px rgb(0, 51, 2, 0.9);
    // min-width: max-content;
    // padding: 0.5rem;
    // box-shadow: 0px 0px 3px 2px rgba(75, 0, 1, 0.9);
    // background-color: rgb(2, 0, 63);
    background-color: rgb(0, 51, 2, 0.9);
    color: white;
    padding: 0.75rem 0rem;
    margin: 0rem;
    // border-bottom: 1px solid black;
    // border-top-left-radius: 0.85rem;
    // border-top-right-radius: 0.85rem;
  }
  h5.HeaderDashList {
    display: flex;
    // text-decoration: underline;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    // box-shadow: 0px 0px 5px 3px rgb(121, 0, 2, 0.9);
    // min-width: max-content;
    // padding: 0.5rem;
    // box-shadow: 0px 0px 3px 2px rgba(75, 0, 1, 0.9);
    // background-color: rgb(2, 0, 63);
    background-color: rgb(121, 0, 2, 0.9);
    color: white;
    padding: 0.75rem 0rem;
    margin: 0rem;
    // border-bottom: 1px solid black;
    // border-top-left-radius: 0.85rem;
    // border-top-right-radius: 0.85rem;
    font-size: 1.25rem;
  }
  div.DisplayListDash2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    // overflow-y: scroll;
    // overflow-x: hidden;
    // height: 60vh;
    padding: 0rem;
    margin: 0rem;
    // background-color: rgb(220, 220, 220);
    // box-shadow: 0px 0px 5px 3px rgb(220, 22f0, 220);
    border: 0rem;
    form.formCreateAccount2 {
      display: flex;
      flex-direction: column;
      width: 49.65vw;
      justify-content: center;
      text-align: center;
      padding: 0.5rem 0rem;
      align-items: center;
      flex-wrap: wrap;
      // border-radius: 0.5rem;
      // border-bottom: 2px solid black;
      background-color: rgb(255, 255, 255);
      margin: 0rem;
      box-shadow: 0px 0px 2px 3px rgb(255, 255, 255);
      // margin: 5rem, 5rem;
      // margin: 1rem;
      text-decoration: none;
      div.inputContainer {
        margin: 1rem 0rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      input {
        margin: 1rem 0rem 0rem 0rem;
        border-radius: 0.5rem;
        background-color: black;
        color: white;
        font-weight: 700;
        cursor: pointer;
        width: 45vw;
      }
      input.submit {
        border: 2px solid black;
      }
      input.submit:hover {
        transform: scale(1.05, 1.05);
      }

      p {
        color: black;
        font-weight: 700;
        padding: 0.125rem;
        width: 30vw;
        margin: 1rem 1rem 0rem 1rem;
        text-align: center;
        border: 2px solid white;
        border-radius: 0.5rem;
      }
      // color: white;
    }
  }
  div.DisplayListDash {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    // overflow-y: scroll;
    // overflow-x: hidden;
    // height: 60vh;
    padding: 0rem;
    margin: 0rem;
    // background-color: rgb(220, 220, 220);
    // box-shadow: 0px 0px 5px 3px rgb(220, 220, 220);
    border: 0rem;

    form.formCreateAccount {
      display: flex;
      flex-direction: column;
      width: 50vw;
      justify-content: center;
      text-align: center;
      padding: 0.5rem 0rem;
      align-items: center;
      flex-wrap: wrap;
      // border-radius: 0.5rem;
      // border-bottom: 2px solid black;
      background-color: rgb(255, 255, 255);

      // box-shadow: 0px 0px 2px 3px rgb(220, 220, 220);
      // margin: 5rem, 5rem;
      margin: 0rem;
      text-decoration: none;
      div.inputContainer {
        margin: 1rem 0rem;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      p {
        color: white;
        background-color: rgb(97, 0, 0);
        padding: 0.25rem;
      }
      input {
        margin: 1rem 0rem 0rem 0rem;
        border-radius: 0.5rem;
        background-color: black;
        color: white;
        font-weight: 700;
        cursor: pointer;
        width: 45vw;
      }
      input.submit {
        border: 2px solid black;
      }
      input.submit:hover {
        transform: scale(1.05, 1.05);
      }
      // color: white;
    }
  }
  ul.DisplayListDash {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-width: 95%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
    padding: 0.25rem;
    margin: 0rem 0rem 0rem 0rem;
    // margin: 0rem 0.25rem 0.75rem 0.25rem;

    // a.nonUser {
    //   display: flex;
    //   width: 98%;
    //   justify-content: center;
    //   text-align: center;
    //   padding: 0.5rem 0.75rem;
    //   align-items: center;
    //   flex-wrap: wrap;
    //   background-color: rgb(255, 255, 255);
    //   // border-radius: 0.5rem;
    //   // border-bottom: 2px solid black;
    //   box-shadow: 0px 0px 2px 3px rgba(255, 255, 255);
    //   // margin: 5rem, 5rem;
    //   margin: 0.375rem 0rem;
    //   text-decoration: none;

    // li.nonUser {
    //   color: black;
    //   text-decoration: none;
    //   padding: 0rem 0.25rem;
    //   font-weight: 700;
    //   margin: 0rem;
    // }
    // li.nonUser:hover {
    //   transform: scale(1.05, 1.05);
    // }
    // }
    li {
      display: flex;
      width: 90%;
      justify-content: space-between;
      text-align: center;
      padding: 0.5rem 3rem;
      align-items: center;
      flex-wrap: wrap;
      background-color: rgb(255, 255, 255);
      // border-radius: 0.5rem;
      // border-bottom: 2px solid black;
      box-shadow: 0px 0px 2px 3px rgba(255, 255, 255);
      // margin: 5rem, 5rem;
      margin: 0.375rem 0rem;
      form {
        margin: 0.5rem 0rem 0.25rem 0rem;
        padding: 0rem;
        input {
          display: flex;
          font-weight: 700;
          align-items: center;
          justify-content: center;
          margin: 0rem 0rem 0rem 0.25rem;
          cursor: pointer;
          background-color: rgb(121, 0, 2);
          border: 3px solid black;
          color: white;
          border-radius: 0.5rem;
          padding: 0.25rem;
        }
        input:hover {
          transform: scale(1.05, 1.05);
        }
      }
      a {
        color: black;
        text-decoration: none;
        padding: 0rem 0.25rem;
        font-weight: 700;
        margin: 0rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
      }
      a:hover {
        // transform: scale(1.5rem, 1.5rem);
        transform: scale(1.05, 1.05);
      }
      div {
        margin: 0.5rem 0rem 0.25rem 0rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        button {
          display: flex;
          font-weight: 700;
          align-items: center;
          justify-content: center;
          margin: 0rem 0rem 0rem 0.25rem;
          cursor: pointer;
          background-color: rgb(121, 0, 2);
          color: white;
          border: 2px solid white;
          border-radius: 0.5rem;
          padding: 0.25rem;
          border: 3px solid black;
        }
        // button.preferences {
        //   border: 2px solid black;
        //   background-color: rgb(0, 51, 2, 0.9);
        // }
        button:hover {
          transform: scale(1.05, 1.05);
        }
      }
    }
  }
}

.landingPageFooter {
  display: flex;
  justify-content: space-evenly;
  height: 2rem;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0rem 0rem 0rem;
  border-top: 4px solid black;
  background-color: white;
  color: black;
  a.navLink {
    margin: 0rem;
    padding: 0rem;
    color: black;
    text-align: center;
    text-decoration: none;
  }
}

//---------About Page-----------//

main.aboutPage {
  // padding: 1rem;
  // padding: 1rem;
  margin: 0rem;
  padding: 0rem;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rgb(17, 17, 17);
  article.aboutPageArticle {
    // margin: 2rem 0.75rem;
    margin: 3rem 0.75rem 3rem 0rem;
    padding: 0rem;
    min-width: fit-content;
    width: 40vw;
    height: 85vh;
    overflow-y: scroll;
    // overflow-x;

    // max-width: 50rem;
    // max-height: fit-content;
    // text-align: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    // border: 2px solid black;
    border-radius: 0.5rem;
    background-color: black;
    box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);
    h5.header {
      text-align: center;
      // box-shadow: 0px 0px 3px 2px rgb(0, 51, 2, 0.9);
      // background-color: rgb(2, 0, 63);
      background-color: rgb(0, 51, 2, 0.9);

      color: white;
      margin: 0rem;
      padding: 1rem 0rem;
      width: 100%;
      font-weight: 700;
      // border-top-right-radius: 0.355rem;
      border-top-left-radius: 0.355rem;
      font-size: 1.25rem;
    }
    ul.savedLinkList {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0rem;
      margin: 0.75rem 0rem;
      width: 100%;
      // width: 40vw;
      height: min-content;
      background-color: black;
      button.savedLinkList {
        // justify-self: center;
        color: white;
        background-color: rgb(3, 3, 3);
        border: 2px solid white;
        border-radius: 0.5rem;
        padding: 0.25rem;
        margin: 0rem 0rem 0.5rem 0rem;
        cursor: pointer;
        font-weight: 700;
        box-shadow: 0px 0px 2px 1px white;
      }
      button.savedLinkList:hover {
        // background-color: rgb(174, 174, 174);
        background-color: white;
        color: black;
        transform: scale(1.05, 1.05);
      }
      li.savedLinkList {
        background-color: white;
        // text-decoration: underline;
        list-style: none;
        width: 100%;
        // min-width: min-content;
        max-width: 35vw;
        height: min-content;
        display: flex;
        margin: 0.25rem 0rem;
        border-radius: 0.5rem;
        font-size: 0.75rem;
        overflow-x: scroll;
        // flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        // border: 2px solid black;
        box-shadow: 0px 0px 2px 1px rgba(167, 167, 167, 0.7);
        p.savedLinkListLabel {
          // text-decoration: underline;
          margin: 0.5rem;
          // border: 2px solid black;
          box-shadow: 0px 0px 2px 1px rgb(0, 51, 2, 0.9);
          // background-color: rgb(2, 0, 63);
          background-color: rgb(0, 51, 2, 0.9);
          padding: 0.25rem;
          border-radius: 0.25rem;
          color: white;
          width: fit-content;
          min-width: min-content;
        }
        p.savedLinkList {
          text-decoration: none;
          margin: 0.25rem 0.5rem 0.75rem 1rem;
          // padding: 0.25rem;
          color: black;
          width: min-content;
          min-width: min-content;
        }
        a.savedLinkList {
          width: min-content;
          min-width: min-content;
          cursor: pointer;
          color: black;
          // text-decoration: none;
          margin: 0.25rem 0.5rem 0.75rem 1rem;
        }
      }
    }
  }
}
// ------------------CREATE ACCOUNT PAGE---------------- //

main.mainCreateAccount {
  margin: 0rem;
  padding: 3rem 1rem 3rem 1rem;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  // align-items: center;
  // justify-content: flex-start;
  // padding: 1rem;
  // padding: 1rem;
  // margin: 0rem;
  // min-height: 100vh;
  // min-width: 100vw;
  // display: flex;
  // padding: 2.5%;
  min-height: 100vh;
  min-width: 95%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: rgb(17, 17, 17);

  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  div.containerOpenedAndArchived {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem;
    padding: 0rem;
    flex-wrap: wrap;
    article.aboutPageArticle {
      margin: 1.25rem 0.75rem 1rem 0rem;
      padding: 0rem;
      width: max-content;
      height: 75vh;
      overflow-y: scroll;
      overflow-x: hidden;

      // max-width: 50rem;
      // max-height: fit-content;
      // text-align: center;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      align-items: center;
      // border: 2px solid black;
      border-radius: 0.5rem;
      background-color: black;
      box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);
      h5.header {
        text-align: center;
        background-color: rgb(0, 51, 2, 0.9);
        box-shadow: 0px 0px 3px 2px rgb(0, 51, 2, 0.9);

        color: white;
        margin: 0rem;
        padding: 1rem 0.5rem;
        width: 100%;
        font-weight: 700;
        font-size: 1.25rem;
        // border-top-right-radius: 0.355rem;
        border-top-left-radius: 0.355rem;
      }
      ul.savedLinkList {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 0rem;
        margin: 0.75rem 0rem;
        width: fit-content;
        height: min-content;
        background-color: black;
        button.savedLinkList {
          // justify-self: center;
          color: white;
          background-color: black;
          border: 2px solid white;
          border-radius: 0.5rem;
          padding: 0.25rem;
          margin: 0rem 0rem 0.5rem 0rem;
          cursor: pointer;
          font-weight: 700;
          box-shadow: 0px 0px 2px 1px white;
        }
        button.savedLinkList:hover {
          background-color: white;
          color: black;
          transform: scale(1.05, 1.05);
        }
        li.savedLinkList {
          background-color: white;
          // text-decoration: underline;
          list-style: none;
          width: min-content;
          // max-width: 90%;
          height: min-content;
          display: flex;
          margin: 0.25rem;
          border-radius: 0.5rem;
          font-size: 0.75rem;
          // flex-wrap: wrap;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          // border: 2px solid black;
          box-shadow: 0px 0px 2px 1px rgba(167, 167, 167, 0.7);
          p.savedLinkListLabel {
            // text-decoration: underline;
            margin: 0.5rem;
            border: 2px solid black;
            background-color: rgb(0, 51, 2, 0.9);
            box-shadow: 0px 0px 2px 1px rgba(167, 167, 167, 0.7);
            padding: 0.25rem;
            border-radius: 0.25rem;
            color: white;
            width: fit-content;
            min-width: min-content;
          }
          p.savedLinkList {
            width: min-content;
            text-decoration: none;
            margin: 0.25rem 0.5rem 0.75rem 1rem;
            // padding: 0.25rem;
            color: black;
          }
          a.savedLinkList {
            width: min-content;
            cursor: pointer;
            color: black;
            // text-decoration: none;
            margin: 0.25rem 0.5rem 0.75rem 1rem;
          }
        }
      }
    }
  }

  div.panelListContainer {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.25rem;
      margin: 0rem;

      button.visible {
        padding: 0.25rem;
      }
      button.notVisible {
        display: none;
      }
    }
  }
  div.containerForHeaderAndForm {
    // margin: 1rem 0rem;
    // padding: 0rem;
    // border-radius: 0.5rem;
    // min-height: min-content;
    // border: 2px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: min-content;
    margin: 0rem 1rem 0rem 0rem;
    padding: 0rem;
    // border: 2px solid white;
    // box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);

    // background-color: rgb(180, 180, 180);
    background-color: transparent;
    // border-top-right-radius: 1rem;
    // border-top-left-radius: 1rem;
    h5.header {
      display: flex;
      // text-decoration: underline;
      align-items: center;
      justify-content: center;
      height: fit-content;
      width: 100%;
      // box-shadow: 0px 0px 5px 3px rgb(0, 51, 2, 0.9);
      // min-width: max-content;
      // padding: 0.5rem;
      // box-shadow: 0px 0px 3px 2px rgba(75, 0, 1, 0.9);
      // background-color: rgb(2, 0, 63);
      background-color: transparent;
      color: white;
      padding: 0.75rem 0rem;
      margin: 0rem;
      // border-bottom: 1px solid black;
      border-top-left-radius: 0.85rem;
      border-top-right-radius: 0.85rem;
      font-size: 1.25rem;
    }
    h5.header2 {
      display: flex;
      // text-decoration: underline;
      align-items: center;
      justify-content: center;
      height: fit-content;
      width: 100%;
      // box-shadow: 0px 0px 5px 3px rgb(0, 51, 2, 0.9);
      // min-width: max-content;
      // padding: 0.5rem;
      // box-shadow: 0px 0px 3px 2px rgba(75, 0, 1, 0.9);
      // background-color: rgb(2, 0, 63);
      background-color: rgb(0, 51, 2, 0.9);
      color: white;
      padding: 0.75rem 0rem;
      margin: 0rem;
      font-size: 1.25rem;
      // // border-bottom: 1px solid black;
      // border-top-left-radius: 0.85rem;
      // border-top-right-radius: 0.85rem;
    }
    div.formContainerCreateAccount {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 53vw;
      // overflow-y: scroll;
      // overflow-x: hidden;
      // height: 60vh;
      // padding: 0.25rem;
      margin: 0.375rem 0rem 0rem 0rem;
      // background-color: rgb(220, 220, 220);
      // box-shadow: 0px 0px 5px 3px rgb(220, 220, 220);
      border: 0rem;
      div.containerForCreatingPanel {
        margin: 1rem 0rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: fit-content;
        padding: 0rem 0.5rem;
        p {
          padding: 0rem;
          margin: 0rem;
          color: white;
          text-align: center;
          font-weight: 700;
        }

        h5.header2 {
          display: flex;
          // text-decoration: underline;
          align-items: center;
          justify-content: center;
          justify-self: center;
          height: fit-content;
          width: 100%;
          // box-shadow: 0px 0px 5px 3px rgb(0, 51, 2, 0.9);
          // min-width: max-content;
          // padding: 0.5rem;
          // box-shadow: 0px 0px 3px 2px rgba(75, 0, 1, 0.9);
          // background-color: rgb(2, 0, 63);
          background-color: rgb(0, 51, 2);
          color: white;
          padding: 0.75rem 0rem;
          margin: 0rem;
          font-size: 1.25rem;
          // // border-bottom: 1px solid black;
          // border-top-left-radius: 0.85rem;
          // border-top-right-radius: 0.85rem;
        }
      }
      div.deleteDash {
        box-shadow: 0px 0px 5px 5px rgb(0, 51, 2, 0.9);
        // background-color: rgb(2, 0, 63);
        background-color: rgb(0, 51, 2);

        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0rem 0rem 1rem 0rem;
        padding: 0.25rem 1rem;
        border-radius: 1rem;
        button.deleteDash {
          margin: 0.5rem 0rem;
          padding: 0.25rem;
          border: 2px solid black;
          box-shadow: 0px 0px 3px 2px black;

          background-color: white;
          color: black;
          border-radius: 0.5rem;
          font-weight: 700;
        }
        button.deleteDash:hover {
          border: 2px solid white;
          box-shadow: 0px 0px 2px 1px white;

          transform: scale(1.1, 1.1);
          background-color: black;
          color: white;
        }
      }
      div.addPanels {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // width: max-content;
        height: fit-content;
        margin: 2rem 0rem 1rem 0rem;
        width: 45vw;
        // min-width: fit-content;
        padding: 0rem;
        // border: 2px solid white;
        box-shadow: 0px 0px 3px 2px rgb(255, 255, 255);

        background-color: rgb(180, 180, 180);
        background-color: white;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
        p {
          padding: 0rem;
          margin: 1rem 0rem;
          color: black;
          text-align: center;
          font-weight: 700;
        }
        label {
          display: flex;
          // text-decoration: underline;
          align-items: center;
          justify-content: center;
          height: fit-content;
          width: 100%;
          text-align: center;
          box-shadow: 0px 0px 5px 3px rgb(0, 51, 2, 0.9);
          // min-width: max-content;
          // padding: 0.5rem;
          // box-shadow: 0px 0px 3px 2px rgba(75, 0, 1, 0.9);
          // background-color: rgb(2, 0, 63);
          background-color: rgb(0, 51, 2);
          color: white;
          padding: 0.75rem 0rem;
          margin: 0rem;
          font-weight: 700;
          // border-bottom: 1px solid black;
          border-top-left-radius: 0.85rem;
          border-top-right-radius: 0.85rem;
        }
        ul.inputContainer {
          margin: 0.5rem 0rem;
          padding: 0rem;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: wrap;
          min-height: 10vh;
          height: fit-content;
          max-height: 35vh;
          overflow: scroll;
          width: 100%;
          button.inputContainer {
            display: flex;
            font-weight: 600;
            font-size: 0.85rem;
            align-items: center;
            justify-content: center;
            width: min-content;
            margin: 0.125rem 0.25rem 0rem 0.25rem;
            cursor: pointer;
            background-color: black;
            color: white;
            border: 2px solid rgb(99, 99, 99);
            border-radius: 0.5rem;
            padding: 0.25rem;
          }
          button.inputContainer:hover {
            transform: scale(1.0125, 1.0125);
          }

          button.inputContainerClicked {
            display: none;
            padding: 0.25rem;
            margin: 0.125rem;
          }
        }
      }
      form.deletePanels {
        margin: 0rem;
        padding: 0rem;
        background-color: transparent;
        width: 96%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      form.formCreateAccount {
        display: flex;
        flex-direction: column;
        width: 48vw;
        justify-content: center;
        text-align: center;
        padding: 0rem 0rem 0.5rem 0rem;
        align-items: center;
        flex-wrap: wrap;
        // border-radius: 0.5rem;
        // border-bottom: 2px solid black;
        background-color: rgb(255, 255, 255);

        box-shadow: 0px 0px 2px 3px rgb(220, 220, 220);
        // margin: 5rem, 5rem;
        margin: 1rem;
        text-decoration: none;
        p {
          padding: 0rem;
          margin: 0.8rem 0rem 0.5rem 0rem;
          color: black;
          text-align: center;
          font-weight: 700;
        }
        input {
          margin: 1rem 0rem 0rem 0rem;
          border-radius: 0.5rem;
          background-color: black;
          color: white;
          font-weight: 700;
          cursor: pointer;
          width: 45vw;
        }
        input.submitButton {
          border: 2px solid black;
        }
        input.submitButton:hover {
          transform: scale(1.05, 1.05);
        }
        div.inputContainer {
          margin: 1rem 0rem;
          font-weight: 700;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          label.createAccount {
            padding: 5rem;
            margin: 0.25rem;
            min-width: fit-content;
            min-height: fit-content;
          }
          input.createAccount {
            margin: 0.5rem;
            width: 10vw;
            min-width: min-content;
            min-height: min-content;
            cursor: pointer;
          }

          ul.inputContainer {
            margin: 0.5rem 0rem;
            padding: 0rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            button.inputContainer {
              padding: 0.25rem;
              margin: 0.125rem;
            }
            button.inputContainerClicked {
              display: none;
              padding: 0.25rem;
              margin: 0.125rem;
            }
          }
        }
      }
      button {
        cursor: pointer;
      }
    }
  }
}
footer.createAccountPageFooter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.25rem;
  margin: 0rem;
  background-color: white;
  color: black;
  a.standardFooter {
    margin: 0.5rem;
    color: black;
    text-align: center;
  }
}

button.accountInfoSubmit {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0rem;
  height: 2rem;
  border-radius: 0%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

button.accountInfoSubmit:hover {
  transform: scale(1.15, 1.15);
}

// --------------------------------------------

//   div.containerDashQuery {
//     padding: 0.375rem 0rem;
//     position: sticky;
//     // border-bottom: 4px solid black;
//     // border-top: 4px solid black;
//     top: 0rem;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     height: min-content;
//     align-items: center;
//     color: white;
//     margin: 0rem;
//     width: 100vw;
//     // align-items: space-between;
//     button.collapsedMenu {
//       margin: 0rem 1rem;
//       background-color: black;
//       color: white;
//       border-radius: 0.5rem;
//     }
//     button.collapseMenu {
//       background-color: black;
//       color: white;
//       margin: 0rem;
//       border-radius: 0.375rem;
//       position: sticky;
//       // left: 48%;
//     }
//     div.dashQuery {
//       display: flex;
//       justify-content: center;
//       flex-direction: column;
//       align-items: center;
//       margin: 0rem;
//       padding: 0rem;
//       width: 100%;
//       align-items: center;
//       div.buttonContainer2 {
//         border-radius: 0.25rem;
//         border: 2px solid black;
//         background-color: white;
//         padding: 0.5rem;
//         margin: 0rem 0.625rem 0.25rem 0.625rem;
//         button {
//           width: fit-content;
//           padding: 0.125rem;
//           font-size: 0.5rem;
//           border-radius: 0.5rem;
//           margin: 0.25rem;
//           background-color: black;
//           color: white;
//         }
//       }
// }
// }
// }
